body{
    padding: 0;
    margin: 0;
}
#headerin{
    width: 80%;
    margin: 0 auto;
    padding: 12px 0;
}
#headeriz{
    width: 50%;
    float: left;
}
#headerder{
    width: 50%;
    float: right;
}
.cb{
    clear: both;
}
nav li, nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    list-style-type: none;
    margin-left: 30px;
    float: right;
}
a{
    text-decoration: none;
    color: rgb(1, 1, 36);
}
header nav li{
    font-size: 20px;
}
.entrar{
    background-color: white;
    font-size: 20px;
    padding: 1px 8px 2px 8px;
    border-radius:4px;
    border: 1px solid black;
}
#content{
    background-image: url("../img/global.jpg");
    background-size: cover;
    padding: 30px 0;
}
#contentin{
    width: 57%;
    margin: 0 auto;
    border-radius: 80px;
    
}
#contentizq{
    width: 60%;
    float: left;
    background-color: white;
    border-radius: 8px 0 0 8px;
}
#contentder{
    width: 40%;
    float: right;
    border-radius: 0 8px 8px 0;
    background-color: #f6f6f6;
    height: 505px;
}
.p40{
padding: 40px;
}
.center{
    text-align: center;
}
#contentizq input [type="text"],#contentizq input [type="password"]{
    border:none;
    border-bottom: solid 1px #aaaa;
    padding: 10px 0;
    font-size: 16px;
}
#contentizq input [type="checkbox"]{
    background-color: red;
    border-radius: 50%;
}
#contentizq input[type="submit"]{
    width: 100%;
    color: white;
    background-color:#09db8e;
    padding: 18px;
    border:1px solid #04aa6a;
    border-radius: 4px;
}
#contentizq img{
    border: solid 1px #999999;
    border-radius: 44px;
    padding: 6px;
    margin: 0 10px;
}
#contentder input[type="button"]{
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
}
footer{
    background-color: black;
    padding: 30px 0;
}
#footerin{
    width: 70%;
    margin: 0 auto;  
}
#footerizq{
    width: 30%;
    float: left;
    color: white;
    font-size: 16px;
    
}
#footerder{
    width: 70%;
    float: right;
    color: rgb(184, 175, 175);
}
.gris{
    color:rgba(73, 73, 73, 0.6);
}
footer nav li{
    color:#aaaa;
    font-size: 18px;
}